#!/bin/sh

PATH=/opt/emc/scaleio/mdm/bin:$PATH

# Login
scli --login --mdm_ip {{ scaleio_mdm_headnode_ip }} --username admin --password {{ scaleio_password }}

# add the sds
{%for item in sds_scaleio_devices %}
scli --add_sds --mdm_ip {{ scaleio_mdm_headnode_ip }} --sds_ip {{ hostvars[inventory_hostname]['ansible_'+scaleio_interface]['ipv4']['address'] }} --device_path {{ item }} --sds_name {{ ansible_hostname }} --protection_domain_name {{ scaleio_protection_domain }}
{% endfor %}
