#!/bin/sh

PATH=/opt/emc/scaleio/mdm/bin:$PATH

# Add the tb IP
scli --login --mdm_ip {{ scaleio_mdm_headnode_ip }} --username admin --password {{ scaleio_password }}
scli --add_tb --mdm_ip {{ scaleio_mdm_headnode_ip }} --tb_ip {{ hostvars[inventory_hostname]['ansible_'+scaleio_interface]['ipv4']['address'] }} 

# switch to cluster
scli --switch_to_cluster_mode --mdm_ip {{ scaleio_mdm_headnode_ip }}

# create the protection domain
scli --add_protection_domain --mdm_ip {{ scaleio_mdm_headnode_ip }} --protection_domain_name {{ scaleio_protection_domain }}

