#!/bin/sh

PATH=/opt/emc/scaleio/{{ role_name }}/bin:$PATH

# change the password
scli --login --username admin --password admin
scli --set_password --old_password admin --new_password {{ scaleio_password }}
scli --login --username admin --password {{ scaleio_password }}
#scli --set_license --license_file <full_path_to_license_file>

